.playlist-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.playlist-cover {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  margin-right: 20px;
}

.playlist-info h1 {
  font-size: 24px;
  margin: 0;
}

.playlist-info p {
  margin: 5px 0;
  font-size: 14px;
  color: #aaa;
}


